/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f1f0f0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.container {
	max-width: 1200px;
	margin: 4rem auto;
	padding: 10px 0;
	margin-bottom: 10px;
}
.nav-container {
	margin: auto;
}
a {
	text-decoration: none;
}
hr {
	background-color: #999;
	margin: 9px 0;
}
button {
	margin-right: 15px !important;
}
.spinner {
	display: block;
	width: 150px;
	margin: auto;
}

.MuiDialog-paperWidthSm {
	min-width: 300px;
}
.media {
	display: flex;
	line-height: 1.8;
	margin-bottom: 10px;
}
.media .content {
	flex: 1;
}
.media img {
	width: 60px;
	height: 60px;
	margin: 10px 0;
	margin-right: 20px;
	border-radius: 50%;
}
.media p:first-child {
	color: #555;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
input:focus,
button:focus {
	outline: none !important;
}
